<!DOCTYPE html>
<html>

<head>
  <title>YellowAnt Sample Todo App - Dashboard</title>
</head>

<body>
  <h2>Dashboard</h2>
  <a href="/create-new-integration"><button>Create New Integration</button></a>
  <br /><br />
  <div><a href="/logout">Logout</a></div>
</body>

</html>