<!DOCTYPE html>
<html>

<head>
  <title>YellowAnt Sample Todo App - Dashboard</title>
</head>

<body>
  <h2>Dashboard</h2>
  <a href="/create-new-integration"><button>Create New Integration</button></a>

</body>

</html>