<!DOCTYPE html>
<html>

<head>
  <title>YellowAnt Sample Todo App - Sign Up</title>
</head>

<body>
  <form id="signup" name="signup" method="post" action="/signup">
    <label for="username">Username</label>
    <input name="username" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input type="submit" value="Sign Up" />
  </form>
  <br /><br />
  <div>Already have an account? <a href="/signin">Sign In</a></div>
</body>

</html>